<link rel="stylesheet" type="text/css" href="templates/css/profileCard.css">

<!--Wanna Call Someone :P -->
<div class="media block-update-card">
  <a class="pull-left" href="#">
    <img class="media-object update-card-MDimentions" ng-src="{{profile.image}}" alt="...">
  </a>

  <div class="media-body update-card-body">
    <h4 class="media-heading">{{profile.displayName}}</h4>
    <div class="btn-toolbar card-body-social" role="toolbar">
      <div class="btn-group fa fa-github-alt git"></div>
      <div class="btn-group linkedin fa fa-linkedin-square"></div>
      <div class="btn-group twitter fa fa-twitter"></div>
      <div class="btn-group facebook fa fa-facebook"></div>
      <div class="btn-group google-plus fa fa-google-plus"></div>
    </div>
  </div>
</div>








